@import "../variables";
@import "../mixins";

.about {
  background-color: $color-white;

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;

    @media only screen and (max-width: $bp-md) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  &__paragraph {
    width: 50%;
    margin: 10px auto 100px;

    @media only screen and (max-width: $bp-extra-lg) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-md) {
      margin-bottom: 48px;
    }

    @media only screen and (max-width: $bp-extra-sm) {
      width: 100%;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 0.64fr 0.36fr;
    grid-gap: 120px;

    @media only screen and (max-width: $bp-lg) {
      grid-gap: 60px;
      grid-template-columns: 0.55fr 0.45fr;
    }

    @media only screen and (max-width: $bp-md) {
      grid-template-columns: 1fr;
      grid-gap: 36px;
    }
  }

  &__video-box {
    position: relative;

    @media only screen and (max-width: $bp-md) {
      padding-bottom: 60%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .heading-secondary {
    padding-top: 20px;
    padding-bottom: 10px;

    & + .paragraph {
      padding-bottom: 20px;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-item {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: min-content 1fr;
      column-gap: 20px;
      align-items: start;
    }

    &-icon {
      svg {
        width: 32px;
        height: 32px;
        color: $color-primary;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      min-width: 0;
      gap: 5px;

      h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
      }

      p {
        @include line-clip(1, true);

        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $color-text-gray;
      }
    }
  }
}
