@import "../variables";

.clients {
  &__container {
    padding-bottom: 87px;
  }

  &__images {
    padding-top: 58px;
    padding-bottom: 58px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    img {
      padding: 0 25px;
      max-width: 100%;
    }
  }

  .separator {
    background-color: $color-black;
    height: 77px;
  }
}
