@import "../variables";

.hero {
  position: relative;

  &__container {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: calc($header-height-desktop + 80px);
    padding-bottom: 191px;

    @media only screen and (max-width: $bp-lg) {
      background-position: right;
    }

    @media only screen and (max-width: $bp-md) {
      background-image: linear-gradient(
          to right bottom,
          rgb(224 234 252 / 35%),
          rgb(207 222 243 / 85%)
        ),
        url("../images/hero.jpg");
    }

    @media only screen and (max-width: $bp-sm) {
      padding-top: calc($header-height-mobile + 48px);
    }
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media only screen and (max-width: $bp-md) {
      width: 100%;
    }
  }

  &__subheading {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $color-text-gray;

    @media only screen and (max-width: $bp-md) {
      color: darken($color-text-gray, 35%);
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;

    @media only screen and (max-width: $bp-extra-sm) {
      flex-direction: column;
    }
  }
}
