@import "../variables";

.subscribtion {
  margin-top: -144px;

  &__container {
  }

  &__form {
    width: 95%;
    margin: 0 auto;
    background-color: $color-secondary-2;
    padding: 30px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading-tertiary {
      color: $color-white;
      flex-basis: 30%;
    }

    &-form {
      flex-basis: 50%;
      display: flex;
      align-items: stretch;
      min-height: 58px;
    }

    .form__submit-btn {
      display: inline-block;
      background-color: $color-primary;
      color: $color-white;
      padding: 15px 22px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #e6e6e6;
    }

    .form__input-email {
      width: 100%;
      border: 1px solid #e6e6e6;
      border-right: none;
      background-color: $color-background-gray;
      display: inline-block;
      padding: 15px 20px;
      border-radius: 5px 0 0 5px;

      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: $color-text-gray;
      }
    }

    @media only screen and (max-width: $bp-extra-lg) {
      flex-direction: column;
      gap: 24px;
      align-items: stretch;
      width: 100%;
    }
  }
}
