$font-value: "Montserrat", sans-serif;
$color-background-gray: #fafafa;
$color-text-gray: #737373;
$color-white: #fff;
$color-black: #252b42;
$color-primary: #ff7b47;
$color-secondary: #0d5c63;
$bp-lg: 1200px;
$bp-md: 990px;
$bp-sm: 600px;
